<app-loading *ngIf="loading"></app-loading>
<div class="container m-5 animated fadeIn">
<button [routerLink]="['/telCliente-add']" class="btn btn-outline-primary w120">Agregar</button>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">CODIGO TELEFONO</th>
      <th scope="col">DESCRIPCION</th>
      <th scope="col">NUMERO TELEFONO</th>
      <th scope="col">CODIGO CLIENTE</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody *ngFor="let telCliente of telClientes; let i = index">
    <tr>
      <th scope="row">{{ i + 1}}</th>
      <td>{{ telCliente.codigoDireccion}}</td>
      <td>{{ telCliente.descripcion}}</td>
      <th>{{ telCliente.numeroTelefono}}</th>
      <th>{{ telCliente.cliente.codigoCliente}}</th>
      <td> 
        <button (click) = "eliminar(i)" class="btn btn-danger w120">Delete</button> 
        <button [routerLink]="['/telefono-cliente-update',telCliente.codigoTelefono]" class="btn btn-success w120">Editar</button>
      </td>      
    </tr>
  </tbody>
</table>
</div>