<head>Rol</head>
<button [routerLink]="['/rol']" class="btn btn-outline-secondary zoom">Regresar</button>
<hr>
<div class="row">
    <div class="col-md-12 color1">
        <form (ngSubmit) = "guardar()" #forma = "ngForm">
          <div class="form-group">
            <label style=color:#FFFFFF for="txtNombre">Nombre de Rol</label>
            <input placeholder="Nombre" name="txtNombre" [(ngModel)]="rol.nombre" required class="form-control" id="txtNombre" type="text" autocomplete="off">
          </div>
          <div class="form-group">
              <label style=color:#FFFFFF for="txtDescripcion">Descripcion</label>
              <input placeholder="Descripcion" name="txtDescripcion" [(ngModel)]="rol.descripcion" required class="form-control" id="txtDescripcion" type="text" autocomplete="off">
            </div>
            <div class="form-group">
                <button [disabled]= "!forma.valid" type="submit" class="btn btn-outline-warning zoom">Guardar</button>
            </div>
        </form>
      </div>
</div>
