<app-loading *ngIf="loading"></app-loading>
<h1 class="text-center color1">Productos</h1>
<hr style="border-color:white;">
<div class="container m-5 animated fadeIn">
<button [routerLink]="['/producto-add']" class="btn btn-outline-secondary zoom w120">Agregar</button>
<br><br>
<table class="table color1 text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Descripción</th>
      <th scope="col">Codigo Tipo de Empaque</th>
      <th scope="col">Codigo de Categoria</th>
      <th scope="col">Imagen</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody *ngFor="let producto of productos; let i = index">
    <tr>
      <th scope="row">{{ i + 1}}</th>
      <td>{{ producto.codigoProducto}}</td>
      <td>{{ producto.descripcion}}</td>
      <td>{{ producto.tipoEmpaque.descripcion}}</td>
      <td>{{ producto.categoria.descripcion}}</td>
      <td><img src="assets/img/{{producto.imagen}}" height="100" width="100"></td> 
      <td> 
        <button (click) = "eliminar(i)" class="btn btn-danger w120">Delete</button>
        <button [routerLink]="['/producto-update',producto.codigoProducto]" class="btn btn-success w120">Editar</button>
      </td>      
    </tr>
  </tbody>
</table>
</div>