<app-loading *ngIf="loading"></app-loading>
<h1 class="text-center color1">Usuario</h1>
<hr style="border-color:white;">
<div class="container m-5 animated fadeIn">
<button [routerLink]="['/usuario-add']" class="btn btn-outline-primary w120 zoom">Agregar</button>
<br><br>
<table class="table color1 text-center">
  <thead class="thead-dark">
    <tr class="text-center color1">
      <th scope="col">NO.</th>
      <th scope="col">CODIGO</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">EMAIL</th>
      <th scope="col">ROL</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody *ngFor="let usuario of usuarios; let i = index">
    <tr>
      <th scope="row">{{ i + 1}}</th>
      <td>{{ usuario.codigoUsuario}}</td>
      <td>{{ usuario.nombre}}</td>
      <td>{{ usuario.email}}</td>
      <td>{{ usuario.rol.descripcion}}</td>
      <td> 
          <button (click) = "eliminar(i)" class="btn btn-danger w120">Eliminar</button>
        <button [routerLink]="['/usuario-update',usuario.codigoUsuario]" class="btn btn-success w120">Editar</button>
      </td>      
    </tr>
  </tbody>
</table>
</div>
