<h3 class="color1">Login</h3>
<hr>
<div class="row color1">
    <div class="col-md-12">
        <form (ngSubmit)="login()" #forma="ngForm">
            <div class="form-group">
                <label for="txtUsername">Username</label>
                <input [(ngModel)]="user.username" class="form-control" name="txtUsername" id="txtUsername" placeholder="Username" required type="text" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input [(ngModel)]="user.password" class="form-control" name="txtPassword" id="txtPassword" placeholder="Password" required type="password" autocomplete="off">
            </div>
            <div class="form-group">
                <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-success">Login</button>
            </div>
        </form>
    </div>

</div>
